<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
<!--navbar--> 
<%- include('navbar'); %>

<!--mytrip-->
<div class="container">
    <div class="row">
      <div class="texte">
        <h3>My last tickets</h3>
      </div>
      <table class="table table-secondary">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Journey</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="p-3">
            <td>02/06/2019</td>
            <td>Paris / Lille</td>
            <td>3:00 p.m.</td>
            <td>93 €</td>
          </tr>
          <tr class="p-3">
            <td>07/12/2019</td>
            <td>Paris / Bordeaux</td>
            <td>7:00 p.m.</td>
            <td>125 €</td>
          </tr>
        </tbody>
    </table>
    <div class="row">
            <div class="col-12 droite">
        <a href="/" class="btn btn-danger">Home</a>
    </div>
    </div>
</div>

<!--footer-->
<%- include('footer'); %>

<!--boostrap script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
