<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/homePage">
      <img src="/images/train.png" alt="train" width="30" height="24" class="d-inline-block align-text-top">
      Ticketac
    </a>
        <!-- Default dropstart button -->
    <div class="btn-group dropstart">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li><a class="dropdown-item" href="/">Connexion</a></li>
        <li><a class="dropdown-item" href="/users/logout">Déconnexion</a></li>
      </ul>
      <div class="ms-3">
        <h5><a href="#" class="lasttrip">my last trip</a></h5>
      </div>
    </div>
  </div>
</nav>