<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
<!--navbar--> 
<%- include('navbar'); %>

<!--Recherche-->
<div class="container">
    <div class="row text-center">
      <div class="texte">
        <h3>Oops ! No trains avalaibles ...</h3>
        <button class="btn btn-danger mt-3 textWhite"><a href="/homePage">Retour</a></button>
      </div>
    </div>
</div>


<!--footer-->
<%- include('footer'); %>

<!--boostrap script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
